// Vuetify Settings
// Этот файл содержит настройки SCSS для Vuetify
// Настройки темы находятся в resources/js/plugins/vuetify.ts

// Можно добавить кастомные переопределения стилей Vuetify здесь
// Например:
// .v-btn {
//   text-transform: none;
// }
